.git
.local
**/node_modules
**/vendor
**/dist
**/.env
**/.env.*
**/.DS_Store
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/storage/app/docker
backend/bootstrap/cache/*.php
backend/database/*.sqlite*
backend/.agents
backend/.claude
backend/.codex
backend/.junie

backend/public/storage
backend/storage/app/public/*
